body{
    background-color: rgb(2, 2, 59);
    color: gainsboro;
    text-align: center;
    border: 20px solid rgb(96, 80, 240);
    /* border-top: 0px; */
    margin: 15%;
}

h1{
}

h2{
}

p{
    padding-top: 10%;
    padding-right: 15%;
    padding-left: 15%;
}

.formC{
    font-size: 1.2em;
    margin-bottom: 5px;
}

#sub{
    background-color: green;
    margin: 3mm;
    height: 10mm;
    width: 30mm;
    font-size: 1.3em;
    border-radius: 10px;
    font-family: monospace;
}