{% extends "blog/base.html" %}

{% block content %}
    <div class="centerstage">
        <!-- post_list djangos built in name _list for class lists -->
        {% for post in post_list %}        
            <div class="post">
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <div class="date">
                    <p>Published on: {{ post.published_date|date:"D M Y" }}</p>
                </div>

                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{post.approve_comments.count}}</a>

            </div>
        {% endfor %}
    </div>
{% endblock %}